footer{
    margin-top: 80px;
    background: linear-gradient(93.43deg, rgba(94, 74, 241, 0.765) 0%, rgba(186, 11, 249, 0.9) 100%);
}
.footer-cantainer{
    padding: 50px;
    display: flex;
}
.left-footer{
    width: 50%;
}
.input{
    width: 90%;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid whitesmoke;
}
.button{
    padding: 6px;
    width:90%;
    background-color: transparent;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 800;
}

::placeholder{
    font-size: 16px;
    color: white;
}
.right-footer{
    width: 50%;
}
.right-text{
    margin-left: 40px;
}
.email{
    margin-top: 40px;
}
.email a{
    text-decoration: none;
}
.icons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.icons i{
    font-size: 25px;
}